

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @club.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @club.address %>
</p>
<%= render 'posts/posts' %>
<%= render 'events/events' %>



<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
