<div class="col-sm-4">

   <% if user_signed_in? %>
   <h4 class="headline"><%= fa_icon 'home' %> <%= current_user.fname %></h4>
   <table>
    <tbody>
      <tr>
        <div class="menu-option">
          <td><h5> <%= fa_icon 'envelope' %> <%= link_to 'Messages', edit_user_registration_path, :class => 'navbar-link' %></h5></td>
        </div>
      </tr>
      <tr>
        <td><h5> <%= fa_icon 'photo' %> <%= link_to 'Photos', edit_user_registration_path %></h5></td>
      </tr>
      <tr>
        <td><h5> <%= fa_icon 'child' %> <%= link_to 'Friends', edit_user_registration_path %></h5></td>
      </tr>
      <tr>
        <td><h5> <%= fa_icon 'edit' %> <%= link_to 'Edit your account', edit_user_registration_path %></h5></td>
      </tr>
    </tbody>
  </table>
  <% else %>

  <%= render 'devise/sessions/new' %>

<% end %>



</div>

<% if user_signed_in? %>
<div class="col-sm-6">
  <div class="holder">
    <h4 class="headline"><%= fa_icon 'building-o' %> Featured Clubs</h4>
  </div>
</div>
<% else %>
<div class="col-sm-8">
  <div class="carousel-holder">
 <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <div class="item active">
  <%= image_tag("slide1t.png", :class => "img-responsive") %>
      <div class="carousel-caption">
            <h4>Sign up to start earning points</h4>
    <p>Points can be earned in various ways throughout the site</p>
      </div>
    </div>
    <div class="item">
  <%= image_tag("slide2t.png", :class => "img-responsive") %>
      <div class="carousel-caption">
            <h4>Use your points at your favorite clubs </h4>
    <p>Free drinks, front of line passes, and much more!</p>
      </div>
    </div>
        <div class="item">
  <%= image_tag("slide3t.png", :class => "img-responsive") %>
      <div class="carousel-caption">
            <h4>Have fun</h4>
    <p>You'll be acting like a whore in no time!</p>
      </div>
    </div>

  </div>
</div>
  </div>
</div>
<% end %>
<% if user_signed_in? %>
<div class="col-sm-3">
  <div class="holder">
    Test 
  </div>
</div>
<% end %>


