<div class="col-sm-12">
	<div class="holder mt35">
		<h1 class="signin"><%= fa_icon 'edit' %> Sign in</h1>
		<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name), label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
		<div><%= f.email_field :email, autofocus: true, hide_label: :true, placeholder: "Email" %></div>
		<div><%= f.password_field :password, autocomplete: "off", hide_label: :true, placeholder: "Password"  %></div>
		<% if devise_mapping.rememberable? -%>
		<div><%= f.check_box :remember_me %></div>
		<% end -%>
		<div><%= f.submit "Sign in", class: "btn btn-info" %></div>
		<% end %>
	</div>
	<div class="holder center mt15">
		<h2 class="no-account">Don't have an account yet?</h2>
		<button class="btn btn-primary center" data-toggle="modal" data-target=".bs-example-modal-lg">Register now</button>
		<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<%= render 'devise/registrations/new' %>
				</div>
			</div>
		</div>
	</div>
</div>










