<!DOCTYPE html>
<html>
<head>
  <title>Streemfeed</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<%= user_logged_in_msg %>

<%= yield %>



</body>
</html>
